<div class="container" [hidden]=isSubmitted>
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add Survey Question </h4>
      </div>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="form-group">
            <label>name of the person creating survey</label>
              <input type="text" [(ngModel)]='name' class="form-control" formControlName="name">
                <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                  Name is required (minimum 5 characters).
                </small>
          </div>
          
          <div formArrayName="addresses">
            <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>question  {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <address [group]="myForm.controls.addresses.controls[i]"></address>
              </div>
            </div>
          </div>
  
          <div class="margin-20">
            <a (click)="addAddress()" style="cursor: default">
              Add another question  +
            </a>
          </div>
  
          <div class="margin-20">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
          </div>          
        </form>
      </div>
    </div>
  </div>
    <formdisplay [QuestionArray]=Question [nameOfCandidate]=name [hidden]=!isSubmitted></formdisplay>